---
- name: Ensure additional required packages are installed.
  become: true
  ansible.builtin.apt:
    name: apt-transport-https
    state: present

- name: Ensure Tailscale repo is enabled.
  become: true
  block:
    - name: Install GPG key into /usr/share/keyrings
      ansible.builtin.get_url:
        url: https://pkgs.tailscale.com/stable/raspbian/{{ ansible_facts['distribution_release'] }}.noarmor.gpg
        dest: /usr/share/keyrings/tailscale-archive-keyring.gpg
        mode: "0644"
        owner: root
        group: root

    - name: Add Tailscale repo
      ansible.builtin.apt_repository:
        repo: >
          deb [signed-by=/usr/share/keyrings/tailscale-archive-keyring.gpg]
          https://pkgs.tailscale.com/stable/raspbian {{ ansible_facts['distribution_release'] }} main
        state: present
